# Weighted Bootstrap: Merge weights and sequential bootstrap

In [1]:
import pandas as pd
import numpy as np

In [3]:
weights = pd.read_csv("../data/weighted_t1.csv", index_col=0, parse_dates=True)
sb = pd.to_datetime(pd.read_csv("../data/seq_bootstrap.csv", index_col=0, parse_dates=True, squeeze=True))

In [10]:
weights.head()

                               au         w     decay        wd
2021-04-23 07:31:43.163  0.231878  1.222493  0.502052  0.613755
2021-04-23 08:09:56.981  0.156455  3.069675  0.503437  1.545388
2021-04-23 08:31:35.814  0.141238  1.220746  0.504687  0.616095
2021-04-23 09:40:37.273  0.122657  1.974526  0.505773  0.998662
2021-04-23 10:06:50.048  0.118390  0.723902  0.506821  0.366888

In [11]:
sb.head()

2021-06-09 02:47:30.543   2021-06-10 02:47:40.441
2021-05-16 01:12:20.174   2021-05-17 01:12:21.380
2021-06-18 10:02:30.206   2021-06-19 10:02:31.439
2021-05-24 16:41:37.827   2021-05-25 16:41:47.573
2021-05-19 13:15:51.289   2021-05-20 13:15:56.797
Name: time, dtype: datetime64[ns]

In [13]:
df = weights.reindex(sb.index)
df["t1"] = sb

In [16]:
df

,au,w,decay,wd,t1
2021-06-09 02:47:30.543,0.067164,1.678253,0.913670,1.533369,2021-06-10 02:47:40.441
2021-05-16 01:12:20.174,0.066456,0.759792,0.704774,0.535482,2021-05-17 01:12:21.380
2021-06-18 10:02:30.206,0.162493,1.358553,0.994648,1.351282,2021-06-19 10:02:31.439
2021-05-24 16:41:37.827,0.047915,0.119922,0.779811,0.093517,2021-05-25 16:41:47.573
2021-05-19 13:15:51.289,0.013563,0.775377,0.735093,0.569974,2021-05-20 13:15:56.797
...,...,...,...,...,...
2021-06-11 09:27:34.319,0.247398,3.803644,0.937016,3.564076,2021-06-12 09:27:44.794
2021-06-09 10:36:54.812,0.083047,2.112667,0.916849,1.936995,2021-06-10 10:36:57.936
2021-05-12 08:10:43.321,0.097861,3.550246,0.670179,2.379299,2021-05-13 08:10:45.266
2021-05-10 02:53:28.399,0.144913,2.694282,0.652379,1.757692,2021-05-11 02:53:33.299
2021-04-30 22:35:15.202,0.363307,0.769332,0.575102,0.442445,2021-05-01 22:35:21.782

In [17]:
df.to_csv("../data/weighted_seq_bootstrap.csv")