# Testing 2

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [102]:
def get_daily_vol(close, span0=100):
    """
    daily vol, reindexed to close
    
    Arguments:
    close -- daily close (probably Pandas series)
    span0 -- span lol (probably int)
    Purpose:
    use the output of this function to set default profit taking and stop-loss limit
    """
    df0 = close.index.searchsorted(close.index-pd.Timedelta(days=1))
    print(len(df0))
    df0=df0[df0>0]
    print(len(df0))
    df0=pd.Series(close.index[df0-1], index=close.index[close.shape[0]-df0.shape[0]:])
    print(len(df0))
    df0=close.loc[df0.index]/close.loc[df0.values].values-1 # daily returns
    print(len(df0))
    df0=df0.ewm(span=span0).std()
    print(len(df0))
    return df0

In [142]:
df = pd.read_csv("../data/testing.csv")

In [143]:
df["time"] = list(map(lambda x: datetime.datetime.fromtimestamp(x/1000), df.time))
df = df.set_index(["time"], drop=True)

In [148]:
df = df[~df.index.duplicated(keep='first')]

In [149]:
df

                             open      high       low     close    volume
time
2021-01-08 19:54:22.456  40101.08  40101.08  40095.39  40095.39  2.548936
2021-01-08 19:54:31.003  40095.38  40119.01  40095.36  40119.01  2.581447
2021-01-08 19:54:39.317  40115.30  40129.52  40115.30  40129.44  2.657171
2021-01-08 19:54:42.244  40129.44  40129.44  40129.35  40129.35  2.988235
2021-01-08 19:54:44.811  40129.35  40129.35  40100.00  40102.96  3.588482
...                           ...       ...       ...       ...       ...
2021-01-10 23:26:03.620  33283.27  33312.49  33277.92  33291.65  3.225255
2021-01-10 23:26:05.362  33291.65  33306.28  33272.62  33287.33  3.040252
2021-01-10 23:26:06.023  33287.33  33287.34  33238.66  33238.66  3.071353
2021-01-10 23:26:06.506  33237.06  33301.76  33227.19  33300.83  3.109293
2021-01-10 23:26:07.521  33284.38  33300.97  33274.23  33274.23  3.017100

[79373 rows x 5 columns]

In [150]:
close = df.close

In [151]:
get_daily_vol(close)

79373
54242
54242
54242
54242

time
2021-01-09 19:54:27.358         NaN
2021-01-09 19:54:30.046    0.000185
2021-01-09 19:54:33.515    0.000286
2021-01-09 19:54:41.479    0.000342
2021-01-09 19:54:42.307    0.000358
                             ...
2021-01-10 23:26:03.620    0.002035
2021-01-10 23:26:05.362    0.002044
2021-01-10 23:26:06.023    0.002088
2021-01-10 23:26:06.506    0.002087
2021-01-10 23:26:07.521    0.002100
Name: close, Length: 54242, dtype: float64

In [120]:
df0 = close.index.searchsorted(close.index-pd.Timedelta(days=1))

In [130]:
df0=df0[df0>0]

In [133]:
df0=pd.Series(close.index[df0-1], index=close.index[close.shape[0]-df0.shape[0]:])

In [137]:
pd.DataFrame(df0)

                                           time
time
2021-01-09 19:54:27.358 2021-01-08 19:54:22.456
2021-01-09 19:54:30.046 2021-01-08 19:54:22.456
2021-01-09 19:54:33.515 2021-01-08 19:54:31.003
2021-01-09 19:54:41.479 2021-01-08 19:54:39.317
2021-01-09 19:54:42.307 2021-01-08 19:54:42.244
...                                         ...
2021-01-10 23:26:03.620 2021-01-09 23:26:01.579
2021-01-10 23:26:05.362 2021-01-09 23:26:01.579
2021-01-10 23:26:06.023 2021-01-09 23:26:05.528
2021-01-10 23:26:06.506 2021-01-09 23:26:05.528
2021-01-10 23:26:07.521 2021-01-09 23:26:05.528

[58094 rows x 1 columns]